body {
    background-color: rgb(40, 45, 53);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    font-size: 20px;
    color: white;

}
a:visited {
    color: white;
    text-decoration: none;
    color: pink;
}

a:link {
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}
/*///////// Header //////////////*/

#header {
    background-color: rgb(53, 56, 62);
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#title {
    font-size: 46px;
    background-image: linear-gradient(45deg, red,white, red, black, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: left;
    transition: background-position 1s ease-in;
    margin: 0;
}

#title:hover {
    background-position: right;
}

h6 {
    color: white;
}

#header_left {
    margin: 10px;
    flex-grow: 2;
}

#header_right {
    margin: 10px;
}

#twitch {
    display: flex;
    align-items: center;
    font-size: 24px;
}











/*//////// Frames ////////////////*/

ul {
    list-style-type: none;
}

#main {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: row nowrap;
    background-image: url(/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#car_packs,
#car_individual,
#tracks,
#servers,
#extras {
    background-color: rgba(97, 65, 154, 0.85);
    margin: 20px;
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 5px 0px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 5px 0px rgb(255, 255, 255);
    transition: 300ms ease-out;

    line-height: 32px;
}

#car_packs:hover,
#car_individual:hover,
#tracks:hover,
#servers:hover,
#extras:hover {


    box-shadow: 4px 4px 5px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 4px 4px 5px 0px rgb(255, 255, 255);
    -moz-box-shadow: 4px 4px 5px 0px rgb(255, 255, 255);
}

#extras {
    width: 200px;
}

#titles {
    color: whitesmoke;
    font-size: 24px;
    margin: 0;
    text-align: center;
}