body {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*///////// Header //////////////*/

#header {
    background-color: rgb(40, 45, 53);
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

#title {
    font-size: 46px;
    background-image: linear-gradient(45deg, red,white, red, black, white);
    background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: left;
    transition: background-position 1s ease-in;
    margin: 0;
}

#title:hover {
    background-position: right;
}

h6 {
    color: white;
}

#header_left {
    margin: 10px;
}














/*//////// Frames ////////////////*/

ul {
    list-style-type: none;
}

#main {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: row nowrap;
}

#car_packs,
#car_individual,
#tracks,
#servers {
    background-color: rgb(97, 65, 154);
    margin: 20px;
    width: 340px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px rgb(138, 1, 17);
    -webkit-box-shadow: 1px 1px 5px 0px rgb(138, 1, 17);
    -moz-box-shadow: 1px 1px 5px 0px rgb(138, 1, 17);
    transition: 0.4s ease-out;
}

#car_packs:hover,
#car_individual:hover,
#tracks:hover,
#servers:hover {


    box-shadow: 4px 4px 5px 0px rgb(138, 1, 17);
    -webkit-box-shadow: 4px 4px 5px 0px rgb(138, 1, 17);
    -moz-box-shadow: 4px 4px 5px 0px rgb(138, 1, 17);
}
